@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #2d3250;
    color: #f6f6f6;
}

.cabecalho {
    color: #f6b17a;
    background-color: #424769;
    padding: 2%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    transition: 0.5;
}

.cabecalho__menu {
    justify-content: center;
    display: flex;
    gap: 80px;
    transition: 0.5;
}

.cabecalho__menu__link {
    transition: 0.5s;
}

.cabecalho__menu__link:hover {
    color: #f5b683;
    font-size: 30px;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    border-radius: 40px;
    box-shadow: 10px 10px #424769;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.titulo-destaque {
    color: #f6b17a;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: #f6b17a;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #424769;
    font-family: "Montserrat", sans-serif;
    transition: 1s;
    cursor: pointer;
}

.apresentacao__links__link:hover {
    color: #7077a1;
    box-shadow: 10px 10px grey;
    background-color: #f5b683;
}

.apresentacao__links__link__logo {
    box-shadow: none;
}

.rodape {
    color: #9095b0;
    background-color: #424769;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}